@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

.modal-popup {
    width: 80%;
}

.createButton {
    color: white !important;
    background-color: transparent !important;
    border: none !important;
    cursor: pointer !important;
    margin: 0 auto;
    border: 1px solid transparent !important;
    padding: 1px 1px !important;
    font-family: "Poppins" !important;
}

.createButton:hover {
    color: black !important;
  }

#icon {
    margin-left: 5px;
}

.NewDest{
    color: white;
    text-decoration: none;
    background-color: transparent !important;
    border-color: transparent;
    font-size: 17px;
    font-family: "Poppins";
    height: 70px;
}

.NewDest:hover {
    border-color: transparent;
    color: black;
}
  
