/* body {
    background-color: #fff5f5;
}
 */

.AllContentDivs {
    display:flex;
    flex-direction: column;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 3%;
}



.TitleDiv {
    display: flex;
    position: relative;
    flex-direction: column;
    text-align: center;
}

#Rating {
    display: flex;
    background-color: #C8D8E4;
    width: fit-content;
    border-radius: 20px;
    padding: 5px;
    margin: 10px;
    margin-right: 30px;
}


.AllRatings{
    display: flex;
    flex-direction: row;
    justify-content: center;
}


h1 {
    font-weight: bold;
}

h2 {
    font-size: 20px;
    color: grey;
}

#ImageDescription {
    color: grey;
}

.DescriptionText {
    font-size: 18px;
}


h3 {
    font-size: 25px;
    font-weight: bold;
}

h4 {
    font-size: 16px;
    font-weight: bold;
}


.ActivitiesDiv{
    margin-top: 3%;
}

.AllActivities {
    margin-top: 1%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    /* margin: 20px; */
}
.ActivityBox {
    width: 25%;
    height: auto;
    margin-left: 6%;
}

/* .Carousel {
    width: 1000px;
    height: auto;
} */

.ActivityBox {
    display: flex;
    flex-direction: column;
    text-align: center;
}

#imgAttraction {
    width: 100%;
    height: 100%;
}

.StarRating{
    display: flex;
    flex-direction: row;
}

.PhotoOfCity img {
    display:flex;
    align-items: center; 
    justify-items: center; 
    width: 100%;
    height: 200px;
    
}
/* HORISONTAL JUSTIFY, ALIGN VERTIKALT */