.filterContainer {
  margin-top: 0.5rem;
}

.buttons {
  display: flex;
  justify-content: space-around;
  align-items: center; 
} 

.buttons button{
    background-color: #52AB98;
    border: none;
    color: white;
    height: 35px;
    width: 35px;
    text-align: center;
    font-size: 30px;
    margin: 20px ;
    margin-bottom: 10px;
    border-radius: 100%;
    margin: 0 30px;
    margin-top: 1rem;
  }

  .buttons button:hover{
    background-color: #3E8E82;
  }

  .buttons button:active {
    background-color: #3E8E82;
  }

  .buttons p {
    text-align: center;
  }

  .buttons p:hover {
    cursor: pointer; 
}
.icon {
  width: 80%;
  margin-bottom: 0.3rem;
}

  h4 {
    color: black !important;
  }