.filterContaier {
  margin-top: 70px;
}

.buttons {
  display: flex;
  justify-content: space-around;
  align-items: center; 
} 

.buttons button{
    background-color: #52AB98;
    border: none;
    color: white;
    height: 70px;
    width: 70px;
    text-align: center;
    font-size: 30px;
    margin: 50px ;
    margin-bottom: 10px;
    border-radius: 100%;
    margin: 0 30px;
    margin-top: 30px;
  }

  .buttons button:hover{
    background-color: #3E8E82;
  }

  .buttons button:active {
    background-color: #3E8E82;
  }

  .buttons p {
    text-align: center;
  }

  .buttons p:hover {
    cursor: pointer; 
}

  h2 {
    color: black !important;
  }