@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

.searchbar-container {
  margin-top: 10rem;
  justify-content: center;
  width: 50dvh;
  margin: 0 auto;
  margin-top: 100px;
  margin-bottom: 20px;
}

.search {
  display: flex;
  background-color: #C8D8E4;
  border-radius: 70px;
  overflow: hidden; 
}

.search-bar {
  flex: 1;
  border: none;
  background-color: #C8D8E4; 
  font-family: 'Poppins' !important;
}



.search-icon {
  background-color: #C8D8E4;
  color: #2B6777;
  padding: 10px; 
  cursor: pointer;
  font-size: 20px;
  margin-right: 7px;
}

.search-bar:focus,
.search-bar:active,
.search-bar:hover {
  box-shadow: none !important; 
  border-color: transparent !important; 
  background-color: #C8D8E4 
}