@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap");

* {
  font-family: "Roboto Mono", monospace;
}

.App {
  display: flex;
  justify-content: center;
}

.searchbar-container {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
}
.search-bar {
  width: 100%;
}
